.todo-app {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-image: linear-gradient(to right, rgba(94, 165, 223, 0.288), rgba(244, 244, 244, 0.274));
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  
  h1 {
    text-align: center;
  }
  
  .add-task {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .add-task input {
    flex-grow: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .add-task button {
    padding: 8px 12px;
    background-color: #007acc;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .add-task button:hover {
    background-color: #1294eb;
    transition: 0.7s;
  }

  .task-list {
    list-style: none;
    padding: 0;
  }
  
  .task-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
    border-bottom: 1px solid #ccc;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-all;
  }
  
  .task-list button {
    padding: 4px 8px;
    background-color: #ff5454;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    min-width: 55px;
  }
  
  .task-list button:hover {
    background-color: #dd0707;
    transition: 0.7s;
  }
